body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    background-image: -webkit-linear-gradient(-45deg, #ebda5a, #d8d6fd9a);
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);

    &__title {
        font-size: 62px;
        color: #bc2e1e;
        background: none;
        text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4, 2px 1px 1px #5dabcd, 2px 3px 2px #378ab4,
            3px 2px 2px #5dabcd, 3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 4px 5px 3px #378ab4, 5px 4px 2px #5dabcd,
            5px 6px 2px #378ab4, 6px 5px 2px #5dabcd, 6px 7px 1px #378ab4, 7px 6px 1px #5dabcd, 7px 8px 0px #378ab4,
            8px 7px 0px #5dabcd;
        text-align: center;
    }

    &__btn {
        display: block;
        width: 70px;
        height: 70px;
        border: 0;
        outline: 0;
        transition: 0.5s linear;
        background: none;
        background-image: url(../data/icon/btn-icon.png);
        background-repeat: no-repeat;
        background-size: contain;
        border-radius: 50%;
        z-index: 999;
        cursor: url(../data/icon/click.png) 5 -24, pointer;
    }
    &__btn:hover {
        transform: rotate(360deg);
    }
    &__click {
        transform: rotate(90deg);
    }

    &__flipswitch {
        transition: 0.5s;

        &-input:checked ~ label {
            background-color: #50d5a1;
        }
        &-input:checked ~ label &-slider {
            margin-left: 74px;
            background-image: url(../data/icon/play.png);
        }
        &-input {
            display: none;
            appearance: none;
        }
        &-label {
            width: 150px;
            height: 75px;
            background-color: #d55050;
            box-shadow: inset 0px 6px 0px 0px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            position: absolute;
            transform: translate(-50%, -50%);
            z-index: 2;
        }

        &-slider {
            transition: 0.5s;
            width: 70px;
            height: 64px;
            background-color: #fafafa;
            border-radius: 8px;
            position: relative;
            top: 4px;
            left: 3px;
            outline: 0;
            box-shadow: 0px 5px 0px 0px #d2d2d2;
            cursor: pointer;
            background-image: url(../data/icon/pause.png);
            background-size: cover;
        }

        &-play,
        &-train {
            position: absolute;
            margin-top: 18px;
            margin-left: 6px;
            color: green;
            font-size: 30px;
            text-shadow: 1px 1px 1px gold, 1px -1px 1px gold, -1px 1px 1px gold, -1px -1px 1px gold;
        }
        &-play {
            margin-left: 82px;
            color: orange;
            text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
        }
    }
}

.nav {
    position: absolute;
    width: 320px;
    top: 0;
    left: -330px;
    transition: 0.5s;
    background-image: -webkit-linear-gradient(top, #ffd700 0%, #d9cf73 50%, #8f7800 100%);
    color: firebrick;
    font-size: 24px;

    &__list {
        margin-top: 120px;
        margin-bottom: 0;
        list-style: none;
        cursor: url(../data/icon/click.png) 5 -24, pointer;

        &-action-a,
        &-action-b,
        &-animal-a,
        &-animal-b,
        &-clothes,
        &-emotions,
        &-eat,
        &-fruit,
        &-furniture,
        &-nature,
        &-transport,
        &-vegetables,
        &-statistics,
        &-main {
            margin: 0;
            padding: 8px 0 8px 50px;
            background-repeat: no-repeat;
            background-position: left center;
            background-size: 40px;
            outline: 0;
        }

        &-main {
            background-image: url("../data/icon/home.png");
        }
        &-action-a {
            background-image: url("../data/icon/jump.png");
        }
        &-action-b {
            background-image: url("../data/icon/run.png");
        }
        &-animal-a {
            background-image: url("../data/icon/burro.png");
        }
        &-animal-b {
            background-image: url("../data/icon/cat.png");
        }
        &-clothes {
            background-image: url("../data/icon/clothes.png");
        }
        &-emotions {
            background-image: url("../data/icon/emotion.png");
        }
        &-eat {
            background-image: url("../data/icon/cake.png");
        }
        &-fruit {
            background-image: url("../data/icon/fruit.png");
        }
        &-furniture {
            background-image: url("../data/icon/sofa.png");
        }
        &-nature {
            background-image: url("../data/icon/sun.png");
        }
        &-transport {
            background-image: url("../data/icon/car.png");
        }
        &-vegetables {
            background-image: url("../data/icon/tomato.png");
        }
        &-statistics {
            background-image: url("../data/icon/statistics.png");
        }
    }

    &__list li:hover {
        letter-spacing: 0.05em;
        color: goldenrod;
        text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
    }

    &__show {
        left: 0;
    }
}

.statistics {
    background-image: -webkit-linear-gradient(
        top,
        rgb(245, 255, 233) 0%,
        rgb(238, 254, 255) 50%,
        rgb(255, 233, 230) 100%
    );
    min-height: 600px;

    &__title {
        color: #a7dd3c;
        text-shadow: 2px 0 0px #800040, 3px 2px 0px rgba(77, 0, 38, 0.5), 3px 0 3px #ff002b, 5px 0 3px #800015,
            6px 2px 3px rgba(77, 0, 13, 0.5), 6px 0 9px #ff5500, 8px 0 9px #802a00, 9px 2px 9px rgba(77, 25, 0, 0.5),
            9px 0 18px #ffd500, 11px 0 18px #806a00, 12px 2px 18px rgba(77, 66, 0, 0.5), 12px 0 30px #d4ff00,
            14px 0 30px #6a8000, 15px 2px 30px rgba(64, 77, 0, 0.5), 15px 0 45px #80ff00, 17px 0 45px #408000,
            17px 2px 45px rgba(38, 77, 0, 0.5);
        color: #a7dd3c;
        text-align: center;
        font-size: 50px;
        margin: 0;
        padding: 50px;
    }

    &__table {
        font-family: "Arial Black", Gadget, sans-serif;
        border: 6px solid #86d53b;
        background-color: #ddeecd;
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }
    &__table thead {
        background: #3e3e3d;
        background: -moz-linear-gradient(top, #6e6e6d 0%, #515150 66%, #3e3e3d 100%);
        background: -webkit-linear-gradient(top, #6e6e6d 0%, #515150 66%, #3e3e3d 100%);
        background: linear-gradient(to bottom, #6e6e6d 0%, #515150 66%, #3e3e3d 100%);
        border-bottom: 2px solid #444444;
    }
    &__table thead th {
        font-size: 19px;
        font-weight: bold;
        color: #c9e065;
        text-align: center;
    }
    &__table td {
        font-size: 13px;
        color: #035300;
    }
    &__table th,
    &__table td {
        border: 2px solid #76744b;
        padding: 4px 10px;
    }
}

.main {
    min-height: 600px;
    background-image: -webkit-linear-gradient(top, #e0fdf8 0%, #e6fde1 50%, #fcf2dd 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.category {
    width: 330px;
    height: 220px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    background-image: url(../data/icon/snow.png), url(../data/icon/paper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom 150px left, top 130px left;
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    transition: 0.3s;

    &__img {
        width: 180px;
        height: 120px;
        object-fit: cover;
        object-position: center;
        border: 10px solid white;
        border-radius: 50%;
        margin-top: 30px;
    }

    &__label {
        text-align: center;
        color: #ffffff;
        text-shadow: 0 -1px 4px #fff, 0 -2px 10px #ff0, 0 -10px 10px #ff8000, 0 -10px 40px #f00;
        text-align: center;
        margin-left: 20%;
        font-size: 30px;
        margin-right: 20%;
        min-width: 250px;
        font-size: 40px;
        line-height: 40px;
    }
}

.category:hover {
    // box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: -20px 10px 23px -7px #000000, 20px 0px 23px -7px #000000, 15px 5px 25px 5px rgba(0, 0, 0, 0),
        -10px -10px 23px -7px #000000;
}
